*
{margin:0;padding: 0;}
html{scroll-behavior: smooth;}
.App{
  position: relative;
  margin: 0;
}



.contact{
  padding:1.6875em 1.25em 1em 1.25em;
  background-color: white;
}


button,.job{
  font-family:'Nunito',sans-serif;
  font-size: 0.9375rem;
  font-weight:600;
  letter-spacing: 0.02em;
}
hr{
  color:#529CF2;
  width: 5em;
  margin-top: 1.125em;
}
.btn{
  display: flex;
  gap:0.6875rem;
}
button{
  width:7.67em;
  height:2.2em;
  border-radius: 4.2em;
  margin-top:1.33em;
  font-weight: 600;
  transition: all 0.3s ease-in-out;
}



.fa-brands{
color: black;
}




.stop_overflow{
  height: 100vh;
  overflow-y: hidden;}

.intro>h1{
  text-align: center;
}












.card:hover{
  transform: scale(1.02);
}



.backToTop{
  position: fixed;
  bottom:1em;
  right:1.25em;
  background-color: #0050ff;
  color: white;
  width: 30px;
  height: 30px;
  border: none;
  opacity: 0;
  z-index:-1
}
.show{
  animation:show 8s ease-in-out;
  animation-fill-mode: forwards;
}
@keyframes show {
  5%{
    opacity: 100%;
    z-index: 1;
  }
  100%{
    opacity: 0%;
    z-index: -1;
  }
}

button{
  font-family:'Nunito',sans-serif;
  font-size: 0.9375rem;
  font-weight:600;
  letter-spacing: 0.02em;
}

@media all and (orientation:landscape) and (min-width:908px){
  
  
  
  
  
  hr{
    margin-top:0;
  }
  
  
  
  
  .backToTop{
    display: none;
  }
  
  
  
  
  
  
  .project_name{
    font-size: 20px;
  }
  
}
